.app {
    text-align: center;
  }
  
  .reuniones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .tarjeta {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
  