@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
    text-align: center;
  }
  
  .reuniones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .tarjeta {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
  .grafico-container {
    width: 50%; /* Ajusta este valor según tus necesidades */
    margin: auto; /* Centra el gráfico en el contenedor */
}


  
  